@{
    ViewData["Title"] = "Início";
}

<div>
    <h3>Promoções</h3>
    <br>
        <table class="table">
            <tr>
                <td><p>Tecido Tricoline Liso</p></td>                
                <td><p>Botão 2 Furos Cor</p></td>                
                <td><p>Linha de Crochê</p></td>                
            </tr>
            <tr>
                <td><img src="~/imagens/tecidotricolineliso.png" height="300"></td>
                <td><img src="~/imagens/botao2furoscor.jpg" height="300"></td>
                <td><img src="~/imagens/linhacroche.png" height="300"></td>
            </tr>
            <tr>
                <td><p>L:1,5M - C:1,0M</p></td>
                <td><p>Pct c/10 und</p></td>         
                <td><p>Pct 1.000m</p></td>
            </tr>
            <tr>
                <td><button><a href="/Carrinho/Produtos">Confira</a></button></td>
                <td><button><a href="/Carrinho/Produtos">Confira</a></button></td>
                <td><button><a href="/Carrinho/Produtos">Confira</a></button></td>
            </tr>
        </table>
</div>
