@{
    ViewData["Title"] = "Serviços";
}

<div>
    <h1>Serviços de Costura</h1>
    <br>
    <h3>- Consertos Gerais</h3>
    <p>Descrição: Aumentar ou diminuir casas, bainhas, pence, troca ou colocação de elástico, velco ou ziper, etc.
    <p>Valor: A combinar</p> 
    <br>
    <h3>- Enxoval Exclusivo</h3>
    <p>Descrição: Monte o seu enxoval escolhendo um tecido do catálogo de produtos e a quantidade de peças.
    <p>Valor: A combinar</p> 
</div>
