@model Usuario
@{
    ViewData["Title"] = "Login";
}

<div>   
    <h3>Entrar</h3>
    <br>
    <form method="POST" asp-action="Login">
        <p>
            <label asp-for="Email">E-mail:</label>
            <input asp-for="Email" required>	
        </p>
        <p>
            <label asp-for="Senha">Senha:</label>
            <input asp-for="Senha" type="password" required>
        </p>
        <p>
            <input type="submit" value="Acessar">
        </p>   
    </form>
    <p>
	    @ViewBag.Mensagem
    </p>
    <div class="text center"><h6>OU</h6></div>
    <button><a href="/Usuario/Cadastro">Cadastre-se</a></button>
</div>
